*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: url("https://images.unsplash.com/photo-1523821741446-edb2b68bb7a0?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MXx8fGVufDB8fHx8fA%3D%3D&w=1000&q=80");
    background-repeat: no-repeat;
    background-size: cover;
    
}
#profile_photo{
    position: fixed;
    top: 11px;
    left: 111px;
    height: 100px;
    width: 100px;
    background: url("https://raw.githubusercontent.com/HiAmanAgrawal/music_player_kalvium/main/Assets/Profile%20Photo.png");
    border-radius: 50%;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-size: cover;
}
#left_navigation_bar{
    position: fixed;
    top: 42px;
    left: 29px;
    width: 263px;
    height: 573px;
    background-color: white;
    border-radius: 10px;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 73px;
    padding-left: 9px;
}
#top_navigation_bar{
    position: fixed;
    top: 10px;
    right: 27px;
    height: 57px;
    width: 1153px;
}
#top_music{
    display: flex;
    position: absolute;
    top: 70px;
    right: 27px;
    height: 268px;
    width: 1153px;
    overflow: auto;
    overflow-x: scroll;
}
#popular{
    position: absolute;
    top: 374px;
    right: 800px;
    height: 262px;
    width: 381px;
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    border-radius: 10px;
}
#albums{
    display: flex;
    position: absolute;
    top: 373px;
    right: 27px;
    height: 262px;
    width: 763px;
    overflow: auto;
    overflow-x: scroll;
}
#track_menu{
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: 10px;
    height: 85px;
    width: 1470px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input{
    width: 583px;
    height: 35px;
    border: none;
    border-bottom: 2px solid #ff0005;
    color: #8F888F;
    padding: 1px 10px;
    margin: 11px;
    margin-left: 46px;
    font-size: 13px;
    font-weight: 800;
    border-radius: 10px;
    border-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#top_music .song{
    width: 207px;
    height: 224px;
    margin-left: 10px;
    display: flex;
    flex-direction: row-reverse;
    flex-shrink: 0;
    margin-top: 29px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
    border-radius: 10px;
}
#top_music .song:hover{
    background-color: aliceblue;
    opacity: 0.3;
}
h2{
    position: relative;
}
#results{
    position: fixed;
    display: inline-block;
    top: 67px;
    right: 548px;
    width: 585px;
    height: 234px;
    background-color: white;
    z-index: 50;
    border-radius: 10px;
    visibility: hidden;
}

#popular .pplr{
    position: relative;
    margin: 4px;
    min-width: 348px;
    min-height: 55px;
    border-radius: 26px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    background-color: #8F888F;
    opacity: 0.3;
}
.oftop_music{
    position: relative;
    left: 299px;
    top: 63px;
}
.ofpopular{
    position: absolute;
    top: 344px;
    left: 303px;
}
.ofalbum{
    position: absolute;
    top: 344px;
    left: 711px;
}
#popular .pplr:hover{
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.album{
    position: relative;
    width: 255px;
    height: 233px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    flex-shrink: 0;
    background-color: #8F888F;
    opacity: 0.2;
}
.album:hover{
    background-color: aliceblue;
    opacity: 0.2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.profile_name , .email{
    text-align: center;
}
.box{
    margin: 50px;
}
.browse , .discover{
    padding: 10px;
    border-radius: 10px;
}
.browse:hover , .discover:hover{
    background-color: #dadada;
}