*{
    background-color: #EFF4FA;
    margin: 0px;
}
#profile_photo{
    position: fixed;
    top: 11px;
    left: 111px;
    height: 100px;
    width: 100px;
    background-color: rgb(28, 119, 152);
    border-radius: 50%;
    z-index: 1;
}
#left_navigation_bar{
    position: fixed;
    top: 42px;
    left: 29px;
    width: 263px;
    height: 596px;
    background-color: red;
    border-radius: 10px;
}
#top_navigation_bar{
    position: fixed;
    top: 10px;
    right: 27px;
    height: 57px;
    width: 1153px;
    background-color: blue;
}
#top_music{
    display: flexbox;
    position: absolute;
    top: 70px;
    right: 27px;
    display: block;
    height: 268px;
    width: 1153px;
    background-color: blueviolet;
    overflow: auto;
    /* overflow-x: hidden;
    overflow-y: hidden; */
}
#popular{
    position: absolute;
    top: 339px;
    right: 798px;
    height: 298px;
    width: 381px;
    background-color: chartreuse;
}
#albums{
    position: absolute;
    top: 339px;
    right: 27px;
    height: 298px;
    width: 763px;
    background-color: aqua;
}
#track_menu{
    position: fixed;
    bottom: 10px;
    right: 10px;
    left: 10px;
    height: 85px;
    width: 1470px;
    background-color: orange;
    position: fixed;
}
input{
    width: 583px;
    height: 35px;
    border: none;
    border-bottom: 2px solid #ff0005;
    color: #8F888F;
    padding: 1px 0;
    margin: 11px;
    margin-left: 46px;
}
#top_music .song{
    display: inline-block;
    width: 207px;
    height: 241px;
    background-color: white;
    margin-left: 10px;
}